:root{
    --colour-primary:black;
    --colour-secondary:#ffffff;
}
.bg-primary{
    background-color: var(--colour-primary);
}
.bg-secondary{
    background-color: var(--colour-secondary);
}

.bg-error{
    background-color: red;
}
.bg-warning{
    background-color: rgb(209, 165, 53);
}

.bg-white{
    background-color: white;
}
.bg-black
{

}
.text-primary{
    color: var(--colour-primary) !important;
}
.text-secondary{
    color: var(--colour-secondary);
}

.text-black{
    color:black;

}   
.text-white{
    color: #ffffff;
}


.border-primary{
    border-color: var(--colour-primary);
}
.border-secondary{
    border-color: var(--colour-secondary );
}